<%= simple_form_for @pet do |f| %>
  <div class="form-inputs mb-3"  >
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Youpi !", class: "btn btn-primary" %>
  </div>
<% end %>
