<h1>Add a new pet</h1>

<div class="w-50 mx-auto">
  <%= simple_form_for @pet do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :species %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Add Pet", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
