<div class="container mt-4">
    <!-- Pet Details -->
  <div class="row d-flex">
    <div class="col-8">
      <%= cl_image_tag @pet.photo.key, height: 700, crop: :fill, class: "rounded" %>
    </div>
    <div class="col-4 d-flex flex-column align-items-start gap-4">
      <%= render "detailed_card" do %>
        <h1>Hey coucou, I'm <strong><%= @pet.name %></strong></h1>
        <br>
        <p>J'habite à <%= @pet.user.city %>, <%= @pet.user.zipcode %></p>
      <% end %>
      <%= render "detailed_card" do %>
        <p>Je vais booster ton potentiel de séduction 💘 </p>
        <p>Booke moi pour <strong><%= @pet.price %>€ </strong>par jour</p>
      <% end %>
      <%= render "detailed_card" do %>
      <div class="d-flex justify-content-around">
        <%= link_to "Go back to list", pets_path(@pet) %>
        <%= link_to 'Book me!', 'toto' %>
      </div>
      <% end %>
    </div>
    </div>
</div>
