<div class="card border-0" style="col-sm-6 d-flex">
    <%= cl_image_tag pet.photo.key, height: 200, width: 300, crop: :fill, class: "rounded" %>
  <div class="card-body">
    <h5 class="card-title"><Strong><%= pet.name %></Strong></h5>
    <p><%= pet.description %></p>
    <p><Strong><%= pet.price %>€</Strong> par jour</p>
    <%= yield %>
  </div>
</div>
 