<div data-controller="booking-confirmation" data-booking-confirmation-booking-value="<%= booking[:booking].id %>" class="p-2 rounded">
  <%= render partial: "shared/pet", locals: { pet: booking[:pet] } %>
  <div class="text-center">

  <p><%= booking[:booking][:start_date].strftime('%d %b \'%y') %> - <%= booking[:booking][:end_date].strftime('%d %b \'%y') %></p>
  <p>Total: <strong><%= booking[:total_price] %>€</strong></p>
  <p data-booking-confirmation-target="status">Status: <%= booking[:booking].status %></p>
  <% if booking[:booking].pet.user == current_user && booking[:booking].status == "pending" %>
    <div data-booking-confirmation-target="btns" class="d-flex justify-content-center gap-4">
      <button data-action="click->booking-confirmation#confirm" data-status="confirmed" class="btn btn-primary">Confirm</button>
      <button data-action="click->booking-confirmation#confirm" data-status="rejected" class="btn btn-warning">Decline</button>
    </div>
  <% end %>
  </div>
</div>
