<h1 class="mb-5">Welcome <%= current_user.first_name %></h1>

<%= link_to "Add a new pet", new_pet_path, class: "btn btn-primary" %>


<h2>My Pets</h2>
<% if current_user.pets.any? %>
  <div class="d-flex flex-wrap gap-4 m-3 mb-5">
    <% current_user.pets.each do |pet| %>
      <div class="card p-2 shadow" style="width: 200px"> <%# TODO replace this div with _pet partial once it's done  %>
        <h3><%= link_to pet.name, pet  %></h3>
        <p><%= pet.price %>€</p>
        <%= link_to content_tag(:i, '', class: 'fas fa-edit'), edit_pet_path(pet) %>
        <%= link_to content_tag(:i,'',class: 'fas fa-trash-can'), pet_path(pet),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
          %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>You have no pets yet.</p>
<% end %>

<h2>My Bookings</h2>
<% if current_user.bookings.any? %>
  <div class="d-flex">
    <% current_user.bookings.each do |booking| %>
      <%= render partial: "shared/pet", locals: { pet: booking.pet } %>
    <% end %>
  </div>
<% else %>
  <p>You have no bookings yet.</p>
<% end %>
