<h1 class="mb-5">Welcome <%= current_user.first_name %></h1>

<%= link_to "Add a new pet", new_pet_path, class: "btn btn-primary mb-3" %>

<h2>My Pets</h2>
<% if current_user.pets.any? %>
  <div class="d-flex flex-wrap gap-4 m-3 mb-5">
    <% current_user.pets.each do |pet| %>
    <div class="d-flex flex-column border rounded p-2 shadow">
      <%= link_to render(
            partial: "shared/pet", locals: { pet: pet }
          ), pet %>
      <div class="ms-2">
        <%= link_to content_tag(:i, '', class: 'fas fa-edit'), edit_pet_path(pet) %>
        <%= link_to content_tag(:i,'',class: 'fas fa-trash-can'), pet_path(pet),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
          %>
      </div>
    </div>
    <% end %>
  </div>
<% else %>
  <p>You have no pets yet.</p>
<% end %>

<h2>My Bookings</h2>
<% if current_user.bookings.any? %>
  <div class="d-flex gap-2 mb-3">
    <% @my_bookings.each do |booking| %>
      <%= render partial: "booking", locals: { booking: booking } %>
    <% end %>
  </div>
<% else %>
  <p>You have no bookings yet.</p>
<% end %>

<h2>Mes Chiots</h2>
<div class="row">
  <div class="col-8">
    <div class="d-flex justfiy-content-between gap-4">
      <h3>Tous mes chiots</h3>
      <div data-controller="new-pet">
        <button class="btn btn-primary mb-3" data-action="click->new-pet#toggleForm">Ajouter un chiot</button>
          <div class="d-none" data-new-pet-target="form">
            <%= simple_form_for @pet do |f| %>
              <div class="form-inputs mb-3"  >
                <%= f.input :name %>
                <%= f.input :price %>
                <%= f.input :description %>
                <%= f.input :photo, as: :file %>
                <%= f.submit "Youpi !", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <% if current_user.pets.any? %>
      <div class="mb-5 d-flex flex-wrap gap-2">
        <% current_user.pets.each do |pet| %>
          <%= link_to render(
            partial: "shared/pet", locals: { pet: pet }
              ), pet %>
        <% end %>
      </div>
    <% else %>
      <p>You have no pets yet.</p>
    <% end %>
  </div>

  <div class="col-4">
    <% if current_user.pets.any? %>
      <% if @my_pet_bookings.any? %>
        <h3>Gestion des résa.</h3>
        <div class="d-flex gap-2 mb-3">
          <% @my_pet_bookings.each do |booking| %>
            <%= render partial: "booking", locals: { booking: booking } %>
          <% end %>
        </div>
      <% else %>
        <p>No one has booked your pets yet.</p>
      <% end %>
    </div>
  <% else %>
    <p>No one has booked your pets yet.</p>
  <% end %>
<% end %>
